#cim {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 2,
        "ELXP" 0;
    color:white;
    font-size:80px;
}
p{
    color:white;
    font-size:60px;
    transition: font-size 0.5s;
}

p:hover{
    font-size: 70px;
}

body {
    background-image : url("background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    text-align:center;
}
